body {
  background-color: #f8f8ff;
}

#name {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

#menu {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    margin-top: 0px;
    /*word-spacing: 25px;*/
  }

a:link {
  text-decoration: none;
  color: black;
}

hr {
  
  width: 100px;
}

div {
    text-align: center;
    padding: 20vh 0;
  }

img.icon {
  height: 100px;
  width: 100px;
  vertical-align: middle;
  }

